# Настройки для подключения к БД

DB_USER='postgres'          # имя пользователя БД
DB_PASSWORD='password'      # пароль пользователя БД

DB_HOST='localhost'         # адрес сервера БД
DB_NAME='contract_control'  # название БД
DB_PORT='5432'              # номер порта для БД

# Настройки web сервера
ALLOWED_HOSTS='127.0.0.1'   # IP-адрес вашего сервера

# Настройки django
DJANGO_SECRET_KEY = 'django-insecure-1#&&%i=4_@9-n@z+5==hb(qm1t*pn63oxzhp@!@t3xb-w4oz5f'