<!DOCTYPE HTML>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% block title %}

    {% endblock %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
    {% endblock %}
</head>

<body>
    <div id="main_container" class="container">
        {% block page_header %}

        {% endblock %}
        <hr>
        {% block main_menu %}
            <div class="menu_container">
    <ul>
        <li><a class="pp_button_menu" href="{% url 'contracts:index' %}">Главная</a></li>
        <li><a class="pp_button_menu" href="{% url 'contracts:journal_list' %}">Журнал регистрации контрактов</a></li>
        <li><a class="pp_button_menu" href="{% url 'contracts:purchase_list' %}">Закупки</a></li>
        <li><a class="pp_button_menu" href="{% url 'limits:limits_list' %}">Доведенные лимиты</a></li>
    </ul>
</div>
            <hr>
        {% endblock %}

        {% block page_content %}

        {% endblock %}
    </div>
</body>
{% block script %}

{% endblock %}
</html>