<!DOCTYPE HTML>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% block title %}

    {% endblock %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/thirdparty.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
    {% endblock %}
</head>

<body>
    <div id="main_container" class="container">
        {% block page_header %}

        {% endblock %}
        <hr>
        {% block main_menu %}
            {% include 'contracts/includes/inc__menu.html' %}
            <hr>
        {% endblock %}

        {% block page_content %}

        {% endblock %}
    </div>
</body>
{% block script %}

{% endblock %}
</html>