<!DOCTYPE HTML>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% block title %}

    {% endblock %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>

<body>
    <div class="container">
        {% block page_header %}

        {% endblock %}
        <hr>
        {% block main_menu %}
            {% include 'contracts/includes/inc__menu.html' %}
        {% endblock %}
        <hr>
        {% block page_content %}

        {% endblock %}
    </div>
</body>

</html>