{% extends 'contracts/base.html' %}

{% block page_header %}
    <h1>Контракт № {{ contract_detail.contract_number }} от {{ contract_detail.contract_date }}</h1>
{% endblock %}

{% block page_content %}
<div class="contract_card">
    <p>Сумма контракта: {{ contract_detail.contract_amount }} </p>
    <p>Сумма выставленных счетов: </p>
    <p>Оплачено: </p>
    <p>Остаток по контракту: </p>
    <hr>
    <button><a>Добавить</a></button>
    <table border="1">
        <thead>
            <tr>
                <th>Дата документа</th>
                <th>Наименование и номер документа</th>
                <th>Сумма к оплате</th>
                <th>Платежное поручение</th>
                <th>Оплаченная сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for document in contract_detail.payments.all %}
                <tr>
                    <td>{{ document.date_issued }}</td>
                    <td>{{ document.document_name }}</td>
                    <td>{{ document.amount }}</td>
                    <td>{{ document.note }}</td>
                    <td>{{ document.note }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}