{% extends "contracts/base.html" %}

{% block title %}
    <title>Контракт № {{ contract.contract_number }} от {{ contract.contract_date }}</title>
{% endblock %}
{% block page_header %}
    <h1>Контракт № {{ contract.contract_number }} от {{ contract.contract_date }}</h1>
{% endblock %}
{% block page_content %}
    <div class="contract_card">
        <div class="contract_card_top">
            <div class="amounts_card">
                <p><strong>Сумма контракта:</strong> {{ contract.contract_amount }}</p>
                <p><strong>Сумма плановых платежей:</strong> {{ contract.total_issued_amount }}</p>
                <p><strong>Остаток после платежей:</strong> {{ remaining_after_payments|floatformat:2 }}</p>
                <p><strong>Остаток после контракта:</strong> {{ remaining_after_contract|floatformat:2 }}</p>
            </div>
            <div class="contract_data">
                <p><strong>КБК:</strong> {{ contract.kbk_full }}</p>
                <p><strong>Контрагент:</strong> {{ contract.supplier }}</p>
                <p><strong>Номер контракта:</strong> {{ contract.contract_number }}</p>
                <p><strong>Дата:</strong> {{ contract.contract_date }}</p>
                <p><strong>Срок действия:</strong> {{ contract.contract_duration }}</p>
                <p><strong>Дата начала услуг:</strong> {{ contract.service_start_date }}</p>
                <p><strong>Дата окончания услуг:</strong> {{ contract.service_end_date }}</p>
            </div>
        </div>
        <h2>Дополнительные соглашения ({{ additional_agreements|length }}):</h2>
        <table class="agreement-table">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Дата</th>
                    <th>Файл</th>
                </tr>
            </thead>
            <tbody>
                {% for agreement in additional_agreements %}
                    <tr>
                        <td>
                            <a href="{% url 'contracts:additional-agreement-detail' contract_id=contract.id pk=agreement.id %}">
                                Доп. соглашение № {{ agreement.number }}
                            </a>
                        </td>
                        <td>{{ agreement.date }}</td>
                        <td>
                            {% if agreement.agreement_file %}
                                <a href="{{ agreement.agreement_file.url }}" class="file-link" target="_blank">Скачать</a>
                            {% else %}
                                Нет файла
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">Соглашения отсутствуют.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="button_container">
            <a class="pp_button" href="{% url 'contracts:add_payment_doc' contract_id=contract.id %}">Платежный документ</a>
            <a class="pp_button" href="{% url 'contracts:add_payment_order' contract_id=contract.id %}">Платежное поручение</a>
            <a class="pp_button" href="{% url 'contracts:add_additional_agreement' contract_id=contract.id %}" id="addAgreementBtn">Доп.соглашение</a>
            <a class="pp_button" href="{% url 'contracts:contract-edit' contract_id=contract.id %}">Редактировать</a>
        </div>
    </div>
{% endblock %}