{% extends 'contracts/base.html' %}

{% block title %}
    <title>Редактировать контракт</title>
{% endblock %}

{% block page_header %}
    <h1>Редактировать данные контракта</h1>
{% endblock %}

{% block page_content %}
    <div class="add_form">
        <form id="paymentDocForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        </form>
        <div class="btn-container">
            <a class="pp_button" href="#" id="savePaymentDocBtn">Сохранить</a>
            <a class="pp_button" href="#" >Отмена</a>
        </div>
    </div>

<script>
    document.getElementById('savePaymentDocBtn').addEventListener('click', function() {
        document.getElementById('paymentDocForm').submit();
    });
</script>
{% endblock %}
