{% extends 'contracts/base.html' %}

{% block title %}
<title xmlns="http://www.w3.org/1999/html">
            {{ page_title|title }}
        </title>
{% endblock %}

{% block page_header %}
    <h1>Реестр закупок</h1>
{% endblock %}

{% block main_menu %}

{% endblock %}

{% block page_content %}
    <div class="button_container">
        <a class="pp_button_index" href="{% url 'contracts:purchase_list' %}">Закупки</a>
        <a class="pp_button_index" href="{% url 'contracts:journal_list' %}">Журнал регистрации контрактов</a>
        <a class="pp_button_index" href="{% url 'limits:limits_list' %}">Доведенные лимиты</a>
    </div>

    <div class="auth_box_center">
        {% if user.is_authenticated %}
            <p>Вы авторизованы как {{ user.username }}</p>
            <p><a class="pp_button" onclick="document.getElementById('logout-form').submit();">Выход</a>
                <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display:none;">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                </form>
            </p>
        {% else %}
            <p>Вы не авторизованы</p>
            <p><a class="pp_button" href="{% url 'login' %}">Login</a></p>
        {% endif %}
    </div>
{% endblock %}
