{% extends 'contracts/base.html' %}

{% block title %}
        <title>
            {{ page_title|title }}
        </title>
{% endblock %}

{% block page_header %}
    <h1>Реестр закупок</h1>
{% endblock %}

{% block main_menu %}

{% endblock %}

{% block page_content %}
    {% if user.is_authenticated %}
        <p>Logged in as: {{ user.username }}</p>
        <a href="{% url 'users:user_logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'users:user_login' %}">Login</a>
    {% endif %}
{% endblock %}
