{% extends 'contracts/base.html' %}

{% block title %}
<title>
    {{ page_title|title }}
</title>
{% endblock %}

{% block page_header %}
    <h1>Журнал регистрации контрактов</h1>
{% endblock %}

{% block page_content %}
{% if user.is_authenticated %}
<div class="button_container">
    <a class="pp_button" href="{% url 'contracts:add_contract' %}">Добавить</a>
    <a class="pp_button" href="{% url 'contracts:export_excel' %}">Экспорт в Excel</a>
</div>
{% endif %}
<table border="1" cellpadding="2" cellspacing="0" class="display compact" id="details">
    <thead>
        <tr>
            <th>Дата контракта</th>
            <th>Номер контракта</th>
            <th>Контрагент</th>
            <th>Предмет контракта</th>
            <th>Срок действия контракта</th>
            <th>Дата начала услуг/поставки</th>
            <th>Дата окончания услуг/поставки</th>
            <th>Сумма контракта</th>
            <th>Тип закупки</th>
        </tr>
    </thead>
    <tbody>
        {% for purchase in purchases %}
        <tr>
            <td>{{ purchase.contract_date|date:"d.m.Y" }}</td>
            <td><a href="{% url 'contracts:contract-detail' purchase.id %}">{{ purchase.contract_number }}</a></td>
            <td>{{ purchase.supplier }}</td>
            <td>{{ purchase.contract_subject }}</td>
            <td>{{ purchase.contract_duration|date:"d.m.Y" }}</td>
            <td>{{ purchase.service_start_date|date:"d.m.Y" }}</td>
            <td>{{ purchase.service_end_date|date:"d.m.Y" }}</td>
            <td>{{ purchase.contract_amount }}</td>
            <td>{{ purchase.purchase_type}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}