{% extends 'contracts/base.html' %}

{% block title %}
    <title>Добавить платежное поручение</title>
{% endblock %}

{% block page_header %}
    <h1>Добавить платежное поручение</h1>
{% endblock %}

{% block page_content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
        <button id="buttonId">Отмена</button>
    </form>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var button = document.querySelector('#buttonId');

            button.addEventListener('click', function() {
                window.location.href = "{% url 'contracts:contract-detail' contract_number=contract.contract_number %}";
            });
        });
    </script>
{% endblock %}