{% extends 'contracts/base.html' %}

{% block title %}
        <title>
            {{ page_title|title }}
        </title>
{% endblock %}

{% block page_header %}
    <h1>Добавление информации о закупке</h1>
{% endblock %}


{% block page_content %}
<div class="add_form">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="btn-container">
            <button type="submit">Сохранить</button>
            <button>Отмена</button>
        </div>
    </form>
</div>
{% endblock %}.
