h1 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
}


/* Основное меню */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    margin-right: 20px;
    /* Расстояние между пунктами меню */
}

li:hover {
    background-color: brown;
    color: white;
}

a {
    text-decoration: none;
    color: brown;
    font-weight: bold;
}

a:hover {
    background-color: brown;
    color: white;
}

ul li:last-child {
    margin-right: 0;
    /* Убираем отступ справа у последнего пункта меню */
}

.menu_container {
    display: flex;
    justify-content: center;
}

/* Кнопки */
.button_container {
    display: flex;
    justify-content: center;
}

button {
    height: 24px;
    width: 100px;
    /* Желаемая ширина кнопки */
    border-radius: 12px;
    /* Половина высоты, чтобы получить овальную форму */
    margin-bottom: 20px;
}

/* Карточка контракта */
.contract_card {
    width: 800px;
    margin: 0 auto;
}

/* Форма добавления закупки */
.add_form {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Делит форму на две колонки */
    grid-gap: 10px;
    /* Расстояние между элементами */
    margin-top: 10px;
}

.add_form label {
    grid-column: span 1;
    /* Занимает обе колонки */
}

.add_form input,
.add_form select {
    width: 100%;
    /* Занимает всю ширину ячейки */
    padding: 5px;
    box-sizing: border-box;
    /* Размер с учетом padding */
}
.add_form .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.add_form button {
    margin: 0 10px;
    color: brown;
    font-weight: bold;
}

button:hover {
    background-color: brown;
    color: white;
}