<div class="menu_container">
    <ul>
        <li><a class="pp_button_menu" href="{% url 'contracts:index' %}">Главная</a></li>
        <li><a class="pp_button_menu" href="{% url 'contracts:journal_list' %}">Журнал регистрации контрактов</a></li>
        <li><a class="pp_button_menu" href="{% url 'contracts:purchase_list' %}">Закупки</a></li>
        <li><a class="pp_button_menu" href="{% url 'limits:limits_list' %}">Доведенные лимиты</a></li>
        <li><a class="pp_button_menu" href="{% url 'lib_ccportal:kbk_list' %}">КБК</a></li>
        <li><a class="pp_button_menu" href="{% url 'lib_ccportal:kosgu_list' %}">КОСГУ</a></li>
    </ul>
</div>