{% extends 'contracts/base.html' %}
{% block title %}
    <title>{% if form.instance.pk %}Редактировать КОСГУ{% else %}Добавить КОСГУ{% endif %}</title>
{% endblock %}
{% block page_header %}
    <h1>{% if form.instance.pk %}Редактировать КОСГУ{% else %}Добавить КОСГУ{% endif %}</h1>
{% endblock %}
{% block page_content %}
    <div class="add_form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btn-container">
                <button type="submit" class="pp_button">Сохранить</button>
                <a class="pp_button" href="{% url 'lib_ccportal:kosgu_list' %}">Отмена</a>
            </div>
        </form>
    </div>
{% endblock %}