{% extends 'contracts/base.html' %}

{% block title %}
        <title>
            {{ page_title|title }}
        </title>
{% endblock %}

{% block page_header %}
    <h1>Авторизация пользователя</h1>
{% endblock %}

{% block page_content %}
<div class="add_form">
        <form method="post" action="{% url 'users:user_login' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <button type="submit">Войти</button>
    </form>
</div>
{% endblock %}
