{% extends 'contracts/base.html' %}

{% block title %}
    <title>{{ page_title|title }}</title>
{% endblock %}

{% block page_header %}
    <h1>Информация о доведенных лимитах</h1>
{% endblock %}

{% block page_content %}
    {% if user.is_authenticated %}
    <div class="button_container">
        <a class="pp_button" href="{% url 'limits:add_limit' %}">Добавить</a>
    </div>
    {% endif %}
    <hr>
    <table>
        <thead>
            <tr>
                <th>Год</th>
                <th>Наименование объекта закупки</th>
                <th>КБК / КОСГУ</th>
                <th>Сумма доведенного лимита</th>
                <th>Законтрактовано</th>
                <th>Остаток</th>
            </tr>
        </thead>
        <tbody>
            {% for item in summary %}
            <tr>
                <td>{{ item.year }}</td>
                <td>
                    {% for key, value in PURCHASE_ODJ_CHOICE.items %}
                        {% if key == item.kbk.code %}
                            {{ key }} / {{ value }}
                        {% endif %}
                    {% empty %}
                        Нет информации
                    {% endfor %}
                </td>
                <td><a href="{% url 'limits:card_limit' kbk=item.kbk.code kosgu=item.kosgu.code year=item.year %}">{{ item.kbk.code }} / {{ item.kosgu.code }}</a></td>
                <td>{{ item.amount }}</td>
                <td>{{ item.total_contract_amount }}</td>
                <td>{{ item.remaining_amount }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Нет данных о лимитах.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}