{% extends 'contracts/base.html' %}

{% block title %}
    <title>Информация о доведенных лимитах</title>
{% endblock %}

{% block page_header %}
    <h1>Информация о доведенных лимитах</h1>
{% endblock %}

{% block page_content %}
    {% if user.is_authenticated %}
    <div class="button_container">
        <a class="pp_button" href="{% url 'limits:add_limit' %}">Добавить</a>
    </div>
    {% endif %}
    <hr>
    <ul>
        {% for limit in limits %}
            <li>{{ limit.name }} - КБК: {{ limit.kbk }} КОСГУ: {{ limit.kosgu }} Год: {{ limit.year }}</li>
        {% endfor %}
    </ul>
    <br>
    <a href="/">Вернуться на главную страницу</a>
{% endblock %}